body {
  background: #e5f7d5;
  font-family: Arial;
}

#chat {
  width: 320px;
  margin: 50px auto;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
}

#messages {
  height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 5px;
}
